@import "../variables";
@import "./core/scss/mixins/mixins";

.content {
  transition:
    $transition-time width ease-in-out,
    $transition-time height ease-in-out;

  width: 90%;
  height: 100% - $height-space;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  background-color: $background-color;
  padding: 2.5em 5em;

  overflow: auto;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    height: 100%;
    padding: 3em 1em 1em;
  }
}

.wtf {
  @include funky-border();
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $phone-width) {
    width: 100%;
    text-align: center;
  }
}


#enlarged-image-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

#enlarged-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border: 4px dashed black;
}

#close-text {
  background: #fff;
  padding: 5px;
  border: black 1px solid;
}
