<!-- Square is the cursor replacement -->
<app-square></app-square>
<!-- Sizer is the icon at the right top, to in- or decrease the content -->
<app-sizer></app-sizer>
<!-- Nav is the navigation bar at top of the page -->
<app-nav></app-nav>
<!-- Displays the current page -->
<app-selected></app-selected>

<div class="gud">
  <img src="assets/gud.png" alt="gud">
</div>

<!-- Main Content -->
<div class="content" id="content">
  <div class="wrapper">
    <view-home id="SecHome"></view-home>
    <view-projects id="SecProjects" style="display: none"></view-projects>
    <view-contact id="SecContact" style="display: none"></view-contact>
  </div>
</div>
