<!-- Square is the cursor replacement -->
<app-square></app-square>
<!-- Sizer is the icon at the right top, to in- or decrease the content -->
<app-sizer></app-sizer>
<!-- Nav is the navigation bar at top of the page -->
<app-nav></app-nav>
<!-- Displays the current page -->
<app-selected></app-selected>

<!-- Main Content -->
<div class="divider" id="divider"></div>
<div class="content" id="content">
  <view-home id="SecHome"></view-home>
  <view-about id="SecAbout" style="display: none"></view-about>
  <view-projects id="SecProjects" style="display: none"></view-projects>
  <view-contact id="SecContact" style="display: none"></view-contact>
</div>
