<!-- Square is the cursor replacement, on title hover -->
<app-square></app-square>
<!-- Sizer is the icon at the right top, to in- or decrease the content -->
<app-sizer></app-sizer>
<!-- Nav is the navigation bar at top of the page -->
<app-nav></app-nav>
<!-- Very important Badge -->
<app-gud-badge></app-gud-badge>

<!-- Main Content -->
<div class="content" id="content">
  <div class="wrapper">
    <view-home id="SecHome"></view-home>
    <view-projects id="SecProjects" style="display: none"></view-projects>
    <view-contact id="SecContact" style="display: none"></view-contact>
  </div>
</div>
