@import "../variables";
@import "./core/scss/mixins/mixins";

.content {
  transition:
    $transition-time width ease-in-out,
    $transition-time height ease-in-out;

  width: 90%;
  height: 100% - $height-space;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  background-color: $background-color;
  border-radius: 20px;
  padding: 2.5em 5em;

  overflow: auto;
}

.wtf {
  @include funky-border();
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $phone-width) {
    width: 100%;
    text-align: center;
  }
}

