@import "../../../../variables";

#sizer {
  transition: $transition-time color ease-in-out;

  position: absolute;
  height: $sizer-width;
  width: $sizer-width;
  right: $space-around;
  top: $space-around;
  padding: $sizer-padding;

  z-index: 1000;
}
