@import "../../scss/animations/animations";

.hello {
  width: 50px;
  height: 30px;
}

i, span {
  text-decoration: none;

  &.colorful {
    @include anim-color;
  }

  &.flash {
    @include anim-flash;
  }

  &.border-down {
    @include anim-border-down;
  }

  @each $key, $value in $shadow-dance-color-maps {
    &.shadow-dance-#{$key} {
      @include anim-shadow-dance(#{$key});
    }
  }
}




