@import "variables";
/* You can add global styles to this file, and also import other style files */

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Times, Times New Roman, serif	;
  background-color: darken($background-color, 4%);
  color: $text-color;
  overflow: hidden;

  height: 100vh;
}

a {
  &:hover {
    cursor: not-allowed;
  }

  &:active {
    cursor: grabbing;
  }
}
