@import "../../../../variables";

nav {
  transition: $transition-time transform ease-in-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height-space / 2;
  max-width: 50%;

  margin-left: auto;
  margin-right: auto;

  @media (max-width: $phone-width) {
    max-width: 100%;
  }
}

h1 {
  transition: $transition-time color ease-in-out;

  font-weight: 300;
  font-size: 1.25rem;
  display: inline;
  padding: 0.1em;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  @media (max-width: $phone-width) {
    z-index: 1000;
    padding: 0 1em;
    margin-top: -10px;
    background-color: rgb(255, 255, 255, 0.5);
  }
}
